extends layout

block content
  nav(class='navbar navbar-default navbar-fixed-top', role='navigation')
    div.container-fluid
      div(class='navbar-header page-scroll')
        button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#navbar-collapse')
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class='navbar-brand page-scroll', href='#page-top') Code:155/20000
      div(class='collapse navbar-collapse', id='navbar-collapse')
        ul(class='nav navbar-nav navbar-right')
          li
            a(class='page-scroll', href='#china') 中國
          li
            a(class='page-scroll', href='#tibet') 西藏
          li
            a(class='page-scroll', href='#myanmar') 緬甸
          li
            a(class='page-scroll', href='#srilanka') 斯里蘭卡
          li
            a(class='page-scroll', href='#thailand') 泰國
          li
            a(class='page-scroll', href='#strangers') Strangers          
          li.social-links
            a(href="https://twitter.com/gogogohuang", target='_blank')
              i(class='fa fa-twitter')
          li.social-links
            a(href="https://www.instagram.com/gogogohuang/", target='_blank')
              i(class='fa fa-instagram')
              
  div(id="intro", class="intro-div")
    h1 Code:155/20000
    p 
      strong A long journey back to myself
    img.img-responsive(src="images/index/index.jpg", style='display:block')
  div(id="china", class='country-left-div')
    h1 
      a(href='/china') 中國
    img.img-responsive(src="images/index/china.jpg", style='display:block')
  div(id="tibet", class='country-left-div')
    h1 
      a(href='/tibet') 西藏
    img.img-responsive(src="images/index/tibet.jpg", style='display:block')    
  div(id="myanmar", class='country-left-div')
    h1 
      a(href='/myanmar') 緬甸
    img.img-responsive(src="images/index/myanmar.jpg", style='display:block')
  div(id="srilanka", class='country-left-div')
    h1 
      a(href='#') 斯里蘭卡
    img.img-responsive(src="images/index/srilanka.jpg", style='display:block')
  div(id="thailand", class='country-left-div')
    h1 
      a(href='#') 泰國
    img.img-responsive(src="images/index/thailand.jpg", style='display:block')    
  div(id="strangers", class='country-left-div')
    h1 
      a(href='#') Strangers
    img.img-responsive(src="images/index/strangers.jpg", style='display:block')