extends layout

block content
  div.container(style="padding-top: 50px")
   h1.text-center Code-154/20000
   p.text-center A journey
   img(src='/images/index/1.jpg', class='img-responsive', alt='tibet')
  