div(id="intro", class="intro-div")
  div.container(style='width:100%')
    div(class='row')
      div.conver-container
      h1(class='inner cover') Code:154/20000
      img.img-responsive(src="images/index/1.jpg")
      div(class="col-lg-12 hidden-sm hidden-xs")
        div(class='down-arrow')
          a(href="#china", class="page-scroll")
            span 
        
        
                