extends layout
block content
  nav(class='navbar navbar-default navbar-fixed-top', role='navigation')
    div.container-fluid
      div(class='navbar-header page-scroll')
        button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#navbar-collapse')
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class='navbar-brand page-scroll', href='/') Code:155/20000
      div(class='collapse navbar-collapse', id='navbar-collapse')
        ul(class='nav navbar-nav navbar-right')
          li
            a(class='page-scroll', href='#yangon') 仰光
          li
            a(class='page-scroll', href='#inle') 茵萊湖
          li
            a(class='page-scroll', href='#mandalay') 曼德勒
          li
            a(class='page-scroll', href='#bagan') 蒲甘
          li
            a(class='page-scroll', href='#mawlamyine') 毛淡棉
          li.social-links
            a(href="https://twitter.com/gogogohuang", target='_blank')
              i(class='fa fa-twitter')
          li.social-links
            a(href="https://www.instagram.com/gogogohuang/", target='_blank')
              i(class='fa fa-instagram')

  div(id="Home", class='country-left-div')
    h1 緬甸
    img.img-responsive(src="images/index/myanmar.jpg", style='display:block')
  div(id="yangon", class='country-div')
    img.img-responsive(src="https://c2.staticflickr.com/6/5515/30675228320_ffa6d8d6d5_h.jpg", style='display:block', class='img-content')
    div.hidden-div
      div.expand-div(title='城市吸乾的祭品隨著駛出的列車被丟棄。')
        div.cs-hidden.
            仰光是一個活生生的城市，對於旅行者來說可以看見很多充滿生命力的事情，但對於緬甸人來說，這是一個會吃人的城市，城市天天吞吐緬甸人，城市吸乾緬甸人的生命力來成就城市本身。
            
            其實單就城市來說，和台北也沒有多大差別。列車載著祭品進出這座城市，城市吸乾的祭品隨著駛出的列車被丟棄。剩下的被遺留在城市邊角上等死，把他們的臉都記在城市黑暗史裡。

            我在到達以及離開緬甸各留下了三天給仰光，我花了非常多的時間在街道上，我走了非常多的路。街上滿滿的攤販，從早到晚，基本上在路旁的攤販都可以滿足。在台灣，攤販是下港人的浪漫。在仰光，攤販是一種生命選擇。

            那時的我正離開了吃人的城市大約將近三個月的時間，但當時我並沒有察覺我又進入了另外一個吃人的城市。而在我離開仰光前，沮喪感爬滿了我全身。我幾乎感知不到任何情緒。

            那時的我正在無光的黑暗裡投擲我能想像到的希望與光，我失敗了。

  div(id="inle", class='country-div')
    img.img-responsive(src="https://c2.staticflickr.com/6/5625/30942660386_0b1fe9310f_h.jpg", style='display:block')
    div.hidden-div
      div.expand-div(title='一圈一圈鍍金頸圈，看起來像是一生的隱喻。')
        div.cs-hidden.
            在帶著細雨的凌晨到達娘水鎮，從仰光到茵萊湖是我第一趟的長途大巴，車上非常冷。幾個小時的搖晃後下車我神智不清，閃進了一個屋簷躲雨。那時候天還沒亮，我在屋簷下等著天光照亮。

            娘水鎮很安靜，街道與街道圈出的四方格是佛寺，佛寺裡面種著三角梅。緬甸的佛寺很美，有時候會美得太過浮誇，就算陽光輕輕地擦過金塔也能照耀所有哀傷的人。

            在到達隔天的早晨，我在碼頭邊找人拼一艘船。遇見了一個旅行了一年的德國女孩，和一個剛畢業出來旅行的日本男孩。在整個緬甸旅程裡，和這位德國女孩是講最多話的時候了吧。我們甚至聊到了同性婚姻這個份上了，我們有著相同的觀點，我也相信在旅途上的人肯定多數是與我們相同的。
            
            緬甸在開放以後快速的商業化了。快速的延伸到了漁夫展示捕魚的技術，即便他不是真的在捕魚維生，長頸族女性展示，即便長頸族女性根本不在此地生活。

            最後走之前我想起擺設在那裡的長頸族女性，脖子上是一圈一圈鍍金頸圈，看起來像是一生的隱喻。

  div(id="mandalay", class='country-div')
    img.img-responsive(src="https://c2.staticflickr.com/6/5702/22800115138_352d1c2409_h.jpg", style='display:block')
    div.hidden-div
      div.expand-div(title='每一道閃電的落點連接成了暗號 ')
        div.cs-hidden.
            離開娘水鎮的時候正下著大雷雨，當每道閃電指向平原時，天空被劈成兩半。每一道閃電的落點連接成了暗號，而粘膩的空氣我擦不乾淨。隨著暗號的起落我出發前往曼德勒。

            在曼德勒的幾天裡，我分割時間指派給不同的景點，在路上遇見的每個緬甸人每個孩子每隻貓也切割著我的路線，而我沿著他們日常生活的路線靠近他們。我驚訝於他們，彷彿他們的盛年就在此。

            在烏本橋上，兩個孩子繞著母親同我玩耍，他們母親的身上還抱著一個嬰兒。兩個孩子的衣服上已全是遊戲的印記了，兩個孩子仍繼續繞著母親同我玩得起勁，一下子躲進人群，一下子從母親懷裡的孩子旁探出頭。在爬上曼德勒山的路上，有個孩子反覆夾著自己的拖鞋跳著玩，從一端跳到另外一端。緬甸孩子一邊來來回回的玩耍，一邊睜著眼睛看著我。

            於是我了解到自己最終會被這個世界擠壓成什麼樣子，最終也都會被業火燒盡。

  div(id="bagan", class='country-div')
    img.img-responsive(src="https://c2.staticflickr.com/6/5780/30889948201_590ee43fcf_h.jpg", style='display:block')
    div.hidden-div
      div.expand-div(title='佛塔如散亂的星辰，就在夕陽墜落時發光。')
        div.cs-hidden.
            在我前往蒲甘的前一天，浦甘發生了地震。幸運的是沒有人受傷，不幸的是有些佛塔損傷了。知道消息的當下我正在看夕陽，曼德勒當時是一片黃澄澄的城市，彷彿整座城市撐起了太陽，成就了這片景色。

            到蒲甘已經接近傍晚，住的地方門前是一條大路。陽光托著路旁輕輕的樹葉閃耀著，我穿過一條被陽光斜照的大路後，到了伊洛瓦底河岸旁看夕陽。近河處的雲幕成了一片片的羽毛，繞著金塔的周圍是粉紅色的薄雲，遠山的雨雲卻遮住了太陽。

            隔天我騎著電動摩托車前往幾個標記在書上的佛塔，但是許多佛塔因為地震的關係已經關閉了。但這些佛塔依舊在蒲甘平原上矗立著，地震並沒有造成太大的損傷。最後我爬上了一個不知名尚未被關閉的佛塔，爬上去後看著遠方的佛塔是一朵朵的小花。

            蒲甘很美，數以千計的佛塔如散亂的星辰，就在夕陽墜落時發光。

  div(id="mawlamyine", class='country-div')
    img.img-responsive(src="https://c2.staticflickr.com/6/5683/30890543631_9306f128f3_h.jpg", style='display:block')
    div.hidden-div
      div.expand-div(title='他們是我每日中的輪迴。')
        div.cs-hidden.
            在一段非常辛苦的長途汽車後，又在天未光的時候到了仰光，而我打算繼續買另外一段汽車票去毛淡棉。一如往常的失神的我跟著一個掮客問到第一個價錢，一如往常地拒絕這個不合理的價錢。

            掮客最終仍領著我買到了票，從汽車公司拿到了不成比例的佣金。

            抵達毛淡棉前，巴士會穿過一條跨河鐵橋，這是一座依附在水旁的城市。一條顫抖的河流切開靠海的土地，東岸是這座城，河流的西岸是一座小山剛好切斷夕陽落下的軌跡。

            隔天我爬上了一座在山上的佛塔，望去城市的邊緣是樹木，而河流支撐著這座城，讓城市的暗喻不會實現，而途中我經過的流浪者已不復在。下午突然下起了大雷雨，河畔刮起大風，我躲進了高級飯店警衛亭的屋簷下。這時河流卻吞下了所有泥沙與雨水，成了一條泥黃色的深河。一場暴雨讓城市不至於衰竭至死。

            某個夜晚，我經過一個昏暗的小巷，只有間理髮店還開著。趨光的人聚集在日光燈前，談論一天的起落。我突然明白了我是他們每日的分叉，而他們是我每日中的輪迴。
