extends layout
block content
  nav(class='navbar navbar-default navbar-fixed-top', role='navigation')
    div.container-fluid
      div(class='navbar-header page-scroll')
        button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#navbar-collapse')
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class='navbar-brand page-scroll', href='/') Code:155/20000
      div(class='collapse navbar-collapse', id='navbar-collapse')
        ul(class='nav navbar-nav navbar-right')
          li
            a(class='page-scroll', href='#tibet') 西藏
          li
            a(class='page-scroll', href='#kailash') 岡仁波齊 
          li.social-links
            a(href="https://twitter.com/gogogohuang", target='_blank')
              i(class='fa fa-twitter')
          li.social-links
            a(href="https://www.instagram.com/gogogohuang/", target='_blank')
              i(class='fa fa-instagram')


  div(id="Home", class='intro-div')
    h1 西藏
    img.img-responsive(src="images/index/tibet.jpg", style='display:block')
  div(id="tibet", class='country-div')
    //p 很難形容在西藏的旅程。 西藏沿途是這麼美麗，但山上的景色重複，容易被離雲這麼近的大山麻痺。但是仍是美麗的。
    img.img-responsive(src="https://c2.staticflickr.com/6/5692/30856321686_43ecd6f1e1_o.jpg", style='display:block')
    div.hidden-div
      div.expand-div(title='山上的景色重複，容易被離雲這麼近的大山麻痺。但是仍是美麗的。')
        div.cs-hidden.
            很難形容在西藏的旅程。

            西藏沿途是這麼美麗，但山上的景色重複，容易被離雲這麼近的大山麻痺。但是仍是美麗的。為了去阿里轉山，我們必須要搭三天的小巴到塔爾欽，這是一趟不是公路的公路旅行，反而像高中時期的校外教學。

            有些藏民變得貪心，如同一到拉薩導遊告誡我們的相同。但這全世界都一樣，大家都為賺錢變了。在羊湖有個藏民在木檯上擺著一頭髒兮兮的羊，紙板上寫著拍照收費。小智拿著手機經過的時候被這位藏民叫住，他怒吼著要小智把手機拿出來給他檢查是否拍了他的羊。

            當下我覺得錯愕，有人可以厚顏無恥到這種地步。總之小智沒有拍。

            第二次被帶去了扶貧村。藏民姊姊解釋了藏文化後，拿出一排藏銀製品。推銷手法有點粗糙，只有小智買了一條相對便宜的銀飾項鍊。然後我感覺到大家一陣尷尬，因為沒有人願意買下高價的銀製品。

            這時候藏民姊姊臉色大變，說了，不買就走。但是我想他們的確靠著這個生活，所以我可以理解。

            景區的收費也高得嚇人，我一直對於人類可以將自然佔為己有這件事情感到不解，我一直認為沒有人類活著的地球肯定活得比現在好。

            我還是想到Ann說我是理想主義者的事情。

            西藏還是非常美麗的，只是隨著漢人的文化入侵，慢慢也變得有瑕疵了。 

  div(id="kailash", class='country-div')
    //p 我們的確很靠近死亡。但靠近死亡不是壞事，反而我們相信自己不會死的愚蠢在此刻被死亡的恐懼蒸發了。
    img.img-responsive(src="https://c2.staticflickr.com/6/5584/30894924895_8ab6144098_h.jpg", style='display:block')
    div.hidden-div
      div.expand-div(title='我們相信自己不會死的愚蠢在此刻被死亡的恐懼蒸發了。')
        div.cs-hidden.
          在轉山的那兩天一夜裡面，天氣不算太好，運氣好的時候，可以曬到一點陽光，運氣稍微不好的時候，雨水和冰雹交替敲打。而岡仁波齊一直藏在雨雲之後，兩天都沒有看見岡仁波齊。

          我們三個人因為提早出發旅行讓行李非常簡約。我只帶了一件黃色防風外套，一件棉質長袖T-shirt，一件發熱衣，穿了一條平常穿的寬大淺藍牛仔褲，最後是一雙Skechers平地走路鞋。在廣州的Ann看見我的轉山清單後，只認為我傻了。

          我們七個人。小智扭傷了兩隻腳，Red和Inlin還帶著高山症，轉山的前天Red在日喀則掛了急診，胖子磨破了腳後跟，湯湯把體力透支需要人攙扶著，釋迦花了一倍半的力量照顧體力透支的湯湯。

          我一直走在前頭，我想好好專注走路在大地上這件事情，但是最後我仍然傷了左膝。

          第一天我們的隊伍分得很散，我與隊伍最後的路程大概差了一個小時，甚至可能更多。在最艱難的五公里上升坡中有一個小小的天葬台，上升的尾端是被五彩經幡包覆的啞口，山壁上還有7月未融的殘雪，往山下看有些青綠小池。我站在5700公尺的啞口等待隊伍，這時候正好下起了冰雹，我躲在一塊大石頭旁邊，可以感覺冷冽的寒風正穿過身上所有的衣物刺痛我。

          一直等到了天黑的時候才聚集了所有人。此時往前望去，是一大片的黑灰沙礫，雜亂的高原短草，沿路都是凝固成冰的積雪。在這時候，即使是細微的小河流的水聲都覺得是暴雨般震耳。我們就這樣在月色無光的夜晚摸黑走了將近兩個小時後到達一個簡易屋。

          我們的確很靠近死亡。但靠近死亡不是壞事，反而我們相信自己不會死的愚蠢在此刻被死亡的恐懼蒸發了。

          結束兩天的轉山後，湯湯在踏進房間門口的瞬間跌坐在地上大哭。在隔天我們要離開前，岡仁波齊終於醒了。
