/*
* Based on Cover by https://twitter.com/mdo"  @mdo
* added cover image and background color to match (green)
*
* Globals
*/


/* Extra markup and styles for table-esque vertical and horizontal centering */

.cover-container {
    margin-right: auto;
    margin-left: auto;
}


/* Padding for spacing */

.inner {
    padding: 30px;
}


/*
 * Cover
 */

.cover {
    padding: 0 20px;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    .cover-container {
        width: 100%;
        /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .cover-container {
        width: 700px;
    }
}